.zf-home-page {
  .zf-menu-expand {
    width: 200px;
  }

  .zf-menu-recoil {
    width: 120px;
  }

  .zf-friends {
    width: 300px;
    border-right: 1px solid #f0f0f0;
    height: 100vh;
    overflow-y: scroll;
    padding: 10px;

    .ant-list-item-meta-description {
      width: 100%;
      word-break: keep-all;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .zf-select-user{
      background: rgba(0, 0, 0, 0.05);
    }
  }

  .zf-chat {
    flex: 1;

    .ant-list-item {
      border: none !important;
    }
    .zf-reverse-list{
      flex-direction:row-reverse;
      text-align: right;
      .ant-list-item-meta-avatar{
        margin-left: 16px;
        margin-right: 0;
      }
    }
  }

}


.auth-public-style{
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  > div:first-child {
    flex: .6;
    overflow: hidden;

    img {

    }
  }

  > div:last-child {
    padding-left: 50px;
    flex: .4;
    padding-top: 14vh;
  }
}
